/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @font-face {
    font-family: 'DroidArabicKufiBold';
        src: url('../fonts/DroidArabicKufiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'DroidArabicKufiRegular';
        src: url('../fonts/DroidArabicKufiRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:'DroidArabicKufiRegular', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	direction: rtl;
}

#indexdiv,#logindiv,#registerdiv,#playgroundsdiv,#playgrounddetailsdiv,#playgroundpicturesdiv,#mandoobselectdiv,#mandoobordersdiv{
	display:none;
}

.mndblblcell{
background: #eeeeee;
color:#035d72;
}
.mndbvalcell{
background: #eeeeee;
color:#035d72;
}
.pgimg2{
	width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
	background-size: 120px;
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:20%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.loginregister{
	width: 220px;
    margin: 83% auto 10% auto;
}
.register{
	margin: 60% auto 10% auto;
	width: 80%;
}
.registerbtn img{
	width:210px
}
.loginbtn img{
	width:210px
}
.logotxt{
	color:#ffffff
}
.skiplnk{
	color:#ffffff;
	font-size: 16px;
	width:50px;
	margin:20% auto;
	text-decoration:none
}
.actiondiv{
	margin: 10% auto;
    display: block;
    width: 220px;
}
.skipdiv{
text-align:center
}

.backbtn{
	width: 20%;
}
.backbtn img{
	width: 80%;
    margin: 70% 4%;
}
.pglist{
	width:60%;
}
.pglist img{
	width: 100%;
    margin: 0% auto 10% 0;
}
.logoimg{
	width:20%
}
.logoimg img{
	width: 80%;
    margin: 30%;
}
.pgitem{
background:url(../img/pgitem.png) no-repeat center top;
background-size: 90%;
min-height: 100px;
}
.pgrow{
	margin:3%;
}
.panel{
	background:none;
}
.pgitem  a div{
	margin:0;
	padding: 29% 1% 72% 1%;
	text-align: center;
}
.pgitem  a div span{
	font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #064d5e;
}
.dtpicker{
	background:url(../img/datepickerbg.png) no-repeat center top;
	background-size: 100%;
    z-index: 99;
    width:45%;
    margin-left: 4%;
	position: absolute;
    left: 0;
}
.pgimg{
margin-left: 35%;
	position: absolute;
    left: 0;
}
.pgname{
	background: #cdd118;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.pgname span{

    display: block;
    margin-top: 65%;

}
.nopadding{
	padding:0;
}
.nomargin{
	margin:0;
}
.dtpickeritem {
    width: 40%;
    margin: 3% 8%;
    float: left;
}
.dtpickeritemslct{
    margin: 2% 5%;
    float: left;
}
.hourslct{
	margin-left: 17%;
}
.hourslct input{
	width: 89%;
    text-align: right;
}
.dtpickeritemslct input{
	text-align: right;
	margin-top: -3px;
    margin-bottom: 15px;
}
.linesep{
	clear:both;
	border-bottom: 1px solid #cdd118;
	width: 67%;
    margin: 10px auto;
}
.totalprice{
	text-align:center;
}
.normalwhite{
	color:#ffffff;
}
.boldwhite{
	font-weight:bold;
	color:#ffffff;
}
.normalyellow{
	color:#cdd118;
}
.reservelnk{
	background: #ffffff;
    color: #064d5e;
    border-radius: 10px;
    padding: 0px 10px;
    font-weight: bold;
    margin: 12% 30%;
    display: block;
}
.pgditem{
	float:right;
	margin:10%;
}
.boldyellow{
	color: #cdd118;
    font-weight: bold;
    width: 100px;
    display: block;
    background: #0b4d5d;
    text-align: center;
    padding: 10px;
    border-radius: 24px;
}
.ico{
margin: 0% 70%;
}
.maplnk{
	display: block;
    margin: 30% 73%;
}
.desctxt{
margin: 35% 29%;
    display: block;
    width: 100px;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}
.loadingspan{
width:30%;
margin:50% auto;
}
#loadingdiv{
	position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background: #035d72;
    /* opacity: 0.2; */
    height: 100%;
	display:none
}
#loadingdiv img{
	margin-top: 70%;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*-------------- Designer addons ----------*/
#playgroundsdiv { position: relative;
   height: 100vh;}
.marma_nav { border-bottom:  none; position: absolute;

   bottom: 0; left: 0; width:100%; padding: 0;}
.marma_nav li { float: right; border:none !important}
.nav>li>a { background: #cdd118 !important; border:none !important; color:#ffffff; font-weight: 700; font-size: 18px}
.prcnt_1-3 { width:33.2%; }
